.container {
    width: 800px;
    border: 1px solid;
    margin: 80px auto;
}

.judul {
    text-align: center;
}

.container2 {
    padding: 20px;
}

.tags {
    margin-right: 18px;
}

.radios {
    margin-top: 20px;
}